{% extends 'base.html' %}
{% block content %}
<div class="container mt-4 bg-light p-4 rounded">
  <h1>Historial de Amortiguador: {{ amortiguador.nroSerieamortiguador }}</h1>

  {% if observaciones %}
  <h2>Observaciones</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Tipo de Observación</th>
        <th>Valor de Diagrama</th>
        <th>Información</th>
      </tr>
    </thead>
    <tbody>
      {% for observacion in observaciones %}
      <tr>
        <td>{{ observacion.fechaobservacion }}</td>
        <td>{{ observacion.horaobservacion }}</td>
        <td>{{ observacion.tipoobservacion }}</td>
        <td>
          {% if observacion.tipoobservacion == 'controldiagrama' %}
          {{ observacion.valordiagrama }}
          {% else %}
          N/A
          {% endif %}
        </td>
        <td>{{ observacion.infoobservacion }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No hay observaciones para este amortiguador.</p>
  {% endif %}
  

  <a href="/detalle_pedido/{{ id_pedido }}" class="btn btn-primary mt-3">Volver</a>

</div>
{% endblock %}