{% extends 'base.html' %} {% block content %}
<div class="card">
  <h1>Home</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
    necessitatibus, cupiditate totam tenetur est aliquam magnam natus
    praesentium numquam officiis veritatis explicabo eum sequi temporibus, hic
    exercitationem incidunt ad quae repellendus libero. Repudiandae iure porro
    reiciendis unde optio, rem commodi ab labore expedita accusamus dignissimos
    ut tenetur suscipit accusantium deleniti assumenda natus temporibus, dolores
    alias et itaque ratione? Illum quo eius laboriosam sapiente velit dolor
    harum deserunt ut dolorem exercitationem, reiciendis praesentium
    reprehenderit nisi itaque ab, non rem? Odit, quas cumque sapiente ipsum enim
    quae repellat tempora accusantium voluptatum voluptas aliquam similique
    minima perferendis vel eum placeat fugit esse at.
  </p>
</div>
{% endblock %}
